.html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
      max-width: 700px;
      margin: auto;
      padding: 100px;
      background-image: url("../public/tlo2.jpg");
      background-repeat: space;
      background-size: cover;
      font-family: 'Monserat', sans-serif;
  }