.html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
      font-family: 'Monserat', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-image: url("../public/tlo2.jpg");
      background-position: center;
      background-size: cover;  
  }